@CHARSET="UTF-8";

pre{
   background-color : sktblue;
   border : 5px double dodgerblue;
   color : white;   
   font-size : 1.3em;
}

.box{
	background-image :linear-gradient(to left, skyblue, lightyellow);
	background-image : #efefef;
	height : auto;
	margin-top : 10px;
	padding : 20px;
}

.box div{
	border : 3px dotted lightgray;
	padding : 10px;
	height : auto;
	margin : 5px 5px;
}

.box input[type = button]{
	
	background : lightgray;
	color : white;
	width : 100px;
	padding : 10px 5px;
	border-radius : 20px;
}